<div class="row">
  <div class="row">
    <div class="actor-image col-sm-4">
      <img src="http://image.tmdb.org/t/p/w185/{{actor.profile_path}}">   
    </div>
    
    <div class="actor-details col-sm-8">
      <h2>{{actor.name}}</h2>
      <h4 ng-show="actor.birthday">
        Born: {{actor.birthday | date}}
        <span class="death-date" ng-show="actor.deathday">
          Died: {{actor.deathday | date}}
        </span>
      </h4>
      <p class="actor-bio">{{actor.biography}}</p>
      <p ng-show="!actor.biography" class="no-profile">Sorry, but no profile for {{actor.name}} exists on Wikipedia.</p>      
    </div>
    
  </div>

  <div class="actors-movie-list">
    <h3 class="movie-list-header">Filmography
      <span class="movie-date-filter" ng-click="reverse = false">Descending</span>
      <span class="movie-date-filter">|</span>
      <span class="movie-date-filter" ng-click="reverse = true">Ascending</span>
    </h3>
    <ul class="actors-movie-list-ul row">

      <li class="col-sm-4" ng-repeat="movie in actorsMovies | orderBy : release_date:reverse">
        <a class="actor-movie-card-link" ng-href="#/singleMovie/{{movie.id}}">
          <div class="actor-movie-card">
            <div class="actor-movie-card-img" style="background:url('http://image.tmdb.org/t/p/w500/{{movie.poster_path}}')"></div>
            <div class="actor-movie-card-bottom">
              <h4 class="movie-card-title">{{movie.title}}</h4>
              <h4 class="movie-card-role">{{movie.character}}</h4>
              <h5 class="movie-card-release-date">{{movie.release_date | date}}</h5>
            </div>
          </div>      
        </a>
      </li>

    </ul>
  </div>
</div>
