<div ng-controller="SinglemovieCtrl">
  <i class="fa fa-chevron-left"></i>
  <div class="single-movie-backdrop" style="background-image: url('http://image.tmdb.org/t/p/w500{{singleMovie.backdrop_path}}')">
    <h1 class="single-movie-hero-title">{{singleMovie.title}}</h1>
  </div>
  <div class="row poster-and-details">  
    <div class="poster col-sm-3">
      <img src="http://image.tmdb.org/t/p/w185/{{singleMovie.poster_path}}">
    </div>  
    <div class="details col-sm-8">
      <h2 class="single-movie-title">{{singleMovie.title}}</h2>
      <h3 class="single-movie-tagline" ng-show="singleMovie.tagline">&quot;{{singleMovie.tagline}}&quot;</h3>
      <h5 class="single-movie-release-date">Release Date: {{singleMovie.release_date | date}}</h5>
      <h5 class="single-movie-genres">Genre(s):
          <span ng-repeat="genre in singleMovie.genres">
            {{genre.name}}
          </span>
      </h5>
      <h5><a href="{{singleMovie.homepage}}" target="blank">{{singleMovie.homepage}}</a></h5>
      <p>{{singleMovie.overview}}</p>     
    </div>

    <div class="single-movie-cast col-sm-12">
      <h3 class="cast-header">Cast</h3>
      <ul class="row">

        <li class="col-sm-2 individual-actor" ng-repeat="castMember in movieCast" ng-show="castMember.profile_path" style="background: url('http://image.tmdb.org/t/p/w185/{{castMember.profile_path}}')">  <div class="individual-actor-hover">
            <a ng-href="#/actor/{{castMember.id}}">
              <h5 class="cast-member-role">
                {{castMember.name}}
                <span>as</span>
                <span>{{castMember.character}}</span>
              </h5>
            </a>
          </div>        
        </li>

      </ul>
    </div>

  </div>  
</div>


